/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
 li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}




body {
  background-color: rgb(217, 85, 80);
  width: 100vw;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h1 {
  font-size: 28px;
}
// .header, .footer, .main {

// }
.header {
  color: #fafafa;
  margin: 20px 10vw 0 13vw;
  display: flex;
  justify-content: space-between;
  & nav {
    display: flex;
    gap: 30px;
    margin: 6px;
    font-size: 20px;
  }
}
.timer {
  color: #fafafa;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  margin: 80px 0 0 0;
  background-color: rgba(255, 255, 255, 0.1) ;
  max-width: 500px;
  margin: 80px auto 0 auto;
  padding: 10px 0 100px 0;
  & .timer__nav {
    display: flex;
    gap: 40px;
    font-size: 21px;
    
  }
  & .time__circle {
    margin: 20px 0 10px 0;
    width: 12vw;
    height: 12vw;
    max-width: 265px;
    max-height: 265px;
    min-width: 180px;
    min-height: 180px;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.6);
  }
  & .timer__time-string {
    font-size: calc(min(calc(max(3.5vw, 50px)), 80px) );
  }
}
.timer__nav {
  & li:hover {
    position: relative;
    transition: all .25s;
    line-height: 16px;
    cursor: pointer;
    font-size: 22px;
  }
}

$color: #c51b12;

@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.button__wrapper {
  display: flex;
  position: absolute;
  margin: 30px 0 0 0;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.timer__start-button {
  padding: 0.375em 1em;
  text-align: center;
  text-decoration: none;
  color: $color;
  border: 2px solid $color;
  font-size: 24px;
  display: inline-block;
  border-radius: 0.3em;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: $color;
    color: #fff;
    border-bottom: 4px solid darken($color, 10%);
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
     transition: all 0.5s ease-in-out;
    }
  }
}